<%-include('partials/header')%>
<h1>About</h1>
<p>
  Celebrated as one of the city's best is, Manali Hotel in Jaipur. The hotel is
  strategically located in Opposite Jaipur Jn., Station Rd, Gopalbari. This
  hospitality destination has grown to become the ideal place for travelers and
  those on business to feel at home when in the city. Many have also reviewed
  the hotel to be among the sought after Hotels in Jaipur. The hotel functions
  from - all through the week. Catering to the convenience of its guests, the
  hotel makes available various payment methods to ease out the payment process
  . With the aim of pampering its guests to a thrilling experience, the hotel
  features a plethora of services . The hotel is also classified as a
  destination to resort to when in need of Hotels. When looking to satiate one's
  cravings, the in-house restaurant is where one can choose to either dine-in or
  order food online at the single click of a button. When in the city, be sure
  to enjoy a stay here as it is known to be one of the leading Hotels In
  Opposite Jaipur Jn., Station Rd, Gopalbari.
</p>
<p>
  <b>1. What are the various mode of payment accepted here ? </b><br><br>
    You can make payment Via Cash.<br>
    <br>
  <b>2. Which is the nearest landmark ?</b><br><br>
    You can easily locate the establishment as it is in close proximity to
    Opposite Jaipur Jn<br><br>
  <b>3. What are its hours of operation ?</b><br><br>
  The establishment is functional on 
  <ul>
    <li>
        Monday:- Open 24 Hrs
    </li> 
    <li>
        Monday:- Open 24 Hrs
    </li>
    <li>
        Tuesday:- Open 24 Hrs
    </li>
    <li>
        Wednesday:- Open 24 Hrs
    </li>
    <li>
        Thursday:- Open 24 Hrs
    </li>
    <li>
        Friday:- Open 24 Hrs
    </li>
    <li>
        Saturday:- Open 24 Hrs
    </li>
    <li>
        Sunday:- Open 24 Hrs
    </li>    
  </ul>
</p>
<%-include('partials/footer')%>
