<%-include('partials/header')%>
<h1>Contact</h1>
<p>
  Checkout us on
  <a href="https://www.google.com/maps/place/Manali+Hotel/@22.6598038,70.0466016,6z/data=!4m22!1m13!4m12!1m4!2m2!1d73.7360172!2d18.5768592!4e1!1m6!1m2!1s0x396db3f5cc8bbc87:0xc1b3a6003848c06f!2smanali+hotel+jaipur!2m2!1d75.7883694!2d26.920887!3m7!1s0x396db3f5cc8bbc87:0xc1b3a6003848c06f!5m2!4m1!1i2!8m2!3d26.920887!4d75.7883694"
  >
  Google Maps
  </a>
  <ul>
    Contact Details:
    <li>Phone: 0141 220 0466</li>
  </ul>

</p>
<%-include('partials/footer')%>
